/* Error: Mixin doesn't accept a content block.
 *     ,
 * 59  | @mixin font($fontSize , $fontWeight , $fontFamily) {
 *     |        =========================================== declaration
 * ... |
 * 68  |     @include font(20px, bold, 'Arial') {
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   styles\mixins\_mixin.scss 68:5  @import
 *   styles\style.scss 9:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixin doesn't accept a content block.\a     \2577 \a 59  \2502  @mixin font($fontSize , $fontWeight , $fontFamily) {\d\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 68  \2502      @include font(20px, bold, 'Arial') {\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   styles\\mixins\\_mixin.scss 68:5  @import\a   styles\\style.scss 9:9           root stylesheet";
}
