/*sass var*/

$fontSize : 18px; //變數數值
$fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; //字串
$fontColor : #333; // color 顏色

body {
    padding: 0;
    margin: 20px;
    color : $fontColor;
    font-size: $fontSize;
    font-family: $fontFamily;
}

p {
 font-size: 16px;
 font-family: $fontFamily;
}

