/*sass var*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial";
  font-display: block;
}

h1 {
  font-size: 80px;
}
h1::before {
  content: "--";
}
h1::after {
  content: "--";
}

h2 {
  font-size: 64px;
}
h2::before {
  content: "--";
}
h2::after {
  content: "--";
}

h3 {
  font-size: 48px;
}
h3::before {
  content: "--";
}
h3::after {
  content: "--";
}

h4 {
  font-size: 32px;
}
h4::before {
  content: "--";
}
h4::after {
  content: "--";
}

h5 {
  font-size: 24px;
}
h5::before {
  content: "--";
}
h5::after {
  content: "--";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 0 10px;
}
header .logo {
  width: 114;
  height: 48;
  font-size: 40px;
  color: #000;
}
@media screen and (max-width: 720px) {
  header .logo {
    margin: auto;
  }
}
@media screen and (max-width: 720px) {
  header nav {
    display: none;
  }
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
header nav ul li {
  max-width: 120px;
  padding: 10px 20px;
}

.s {
  width: 20px;
  height: 19em;
  margin: 20px;
  font: 5px;
  padding: 34;
}

.bgc {
  background-color: black;
  color: white;
}

.push-left-1 {
  position: relative;
  left: 1px;
}

.push-right-1 {
  position: relative;
  right: 1px;
}

.push-left-2 {
  position: relative;
  left: 2px;
}

.push-right-2 {
  position: relative;
  right: 2px;
}

.push-left-3 {
  position: relative;
  left: 3px;
}

.push-right-3 {
  position: relative;
  right: 3px;
}

.push-left-4 {
  position: relative;
  left: 4px;
}

.push-right-4 {
  position: relative;
  right: 4px;
}

.push-left-5 {
  position: relative;
  left: 5px;
}

.push-right-5 {
  position: relative;
  right: 5px;
}

.push-left-6 {
  position: relative;
  left: 6px;
}

.push-right-6 {
  position: relative;
  right: 6px;
}

.push-left-7 {
  position: relative;
  left: 7px;
}

.push-right-7 {
  position: relative;
  right: 7px;
}

.push-left-8 {
  position: relative;
  left: 8px;
}

.push-right-8 {
  position: relative;
  right: 8px;
}

.push-left-9 {
  position: relative;
  left: 9px;
}

.push-right-9 {
  position: relative;
  right: 9px;
}

.push-left-10 {
  position: relative;
  left: 10px;
}

.push-right-10 {
  position: relative;
  right: 10px;
}

.push-left-11 {
  position: relative;
  left: 11px;
}

.push-right-11 {
  position: relative;
  right: 11px;
}

.push-left-12 {
  position: relative;
  left: 12px;
}

.push-right-12 {
  position: relative;
  right: 12px;
}

.push-left-13 {
  position: relative;
  left: 13px;
}

.push-right-13 {
  position: relative;
  right: 13px;
}

.push-left-14 {
  position: relative;
  left: 14px;
}

.push-right-14 {
  position: relative;
  right: 14px;
}

.push-left-15 {
  position: relative;
  left: 15px;
}

.push-right-15 {
  position: relative;
  right: 15px;
}

.push-left-16 {
  position: relative;
  left: 16px;
}

.push-right-16 {
  position: relative;
  right: 16px;
}

.push-left-17 {
  position: relative;
  left: 17px;
}

.push-right-17 {
  position: relative;
  right: 17px;
}

.push-left-18 {
  position: relative;
  left: 18px;
}

.push-right-18 {
  position: relative;
  right: 18px;
}

.push-left-19 {
  position: relative;
  left: 19px;
}

.push-right-19 {
  position: relative;
  right: 19px;
}

.push-left-20 {
  position: relative;
  left: 20px;
}

.push-right-20 {
  position: relative;
  right: 20px;
}

.push-left-21 {
  position: relative;
  left: 21px;
}

.push-right-21 {
  position: relative;
  right: 21px;
}

.push-left-22 {
  position: relative;
  left: 22px;
}

.push-right-22 {
  position: relative;
  right: 22px;
}

.push-left-23 {
  position: relative;
  left: 23px;
}

.push-right-23 {
  position: relative;
  right: 23px;
}

.push-left-24 {
  position: relative;
  left: 24px;
}

.push-right-24 {
  position: relative;
  right: 24px;
}

.push-left-25 {
  position: relative;
  left: 25px;
}

.push-right-25 {
  position: relative;
  right: 25px;
}

.push-left-26 {
  position: relative;
  left: 26px;
}

.push-right-26 {
  position: relative;
  right: 26px;
}

.push-left-27 {
  position: relative;
  left: 27px;
}

.push-right-27 {
  position: relative;
  right: 27px;
}

.push-left-28 {
  position: relative;
  left: 28px;
}

.push-right-28 {
  position: relative;
  right: 28px;
}

.push-left-29 {
  position: relative;
  left: 29px;
}

.push-right-29 {
  position: relative;
  right: 29px;
}

.push-left-30 {
  position: relative;
  left: 30px;
}

.push-right-30 {
  position: relative;
  right: 30px;
}

.push-left-31 {
  position: relative;
  left: 31px;
}

.push-right-31 {
  position: relative;
  right: 31px;
}

.push-left-32 {
  position: relative;
  left: 32px;
}

.push-right-32 {
  position: relative;
  right: 32px;
}

.push-left-33 {
  position: relative;
  left: 33px;
}

.push-right-33 {
  position: relative;
  right: 33px;
}

.push-left-34 {
  position: relative;
  left: 34px;
}

.push-right-34 {
  position: relative;
  right: 34px;
}

.push-left-35 {
  position: relative;
  left: 35px;
}

.push-right-35 {
  position: relative;
  right: 35px;
}

.push-left-36 {
  position: relative;
  left: 36px;
}

.push-right-36 {
  position: relative;
  right: 36px;
}

.push-left-37 {
  position: relative;
  left: 37px;
}

.push-right-37 {
  position: relative;
  right: 37px;
}

.push-left-38 {
  position: relative;
  left: 38px;
}

.push-right-38 {
  position: relative;
  right: 38px;
}

.push-left-39 {
  position: relative;
  left: 39px;
}

.push-right-39 {
  position: relative;
  right: 39px;
}

.push-left-40 {
  position: relative;
  left: 40px;
}

.push-right-40 {
  position: relative;
  right: 40px;
}

.push-left-41 {
  position: relative;
  left: 41px;
}

.push-right-41 {
  position: relative;
  right: 41px;
}

.push-left-42 {
  position: relative;
  left: 42px;
}

.push-right-42 {
  position: relative;
  right: 42px;
}

.push-left-43 {
  position: relative;
  left: 43px;
}

.push-right-43 {
  position: relative;
  right: 43px;
}

.push-left-44 {
  position: relative;
  left: 44px;
}

.push-right-44 {
  position: relative;
  right: 44px;
}

.push-left-45 {
  position: relative;
  left: 45px;
}

.push-right-45 {
  position: relative;
  right: 45px;
}

.push-left-46 {
  position: relative;
  left: 46px;
}

.push-right-46 {
  position: relative;
  right: 46px;
}

.push-left-47 {
  position: relative;
  left: 47px;
}

.push-right-47 {
  position: relative;
  right: 47px;
}

.push-left-48 {
  position: relative;
  left: 48px;
}

.push-right-48 {
  position: relative;
  right: 48px;
}

.push-left-49 {
  position: relative;
  left: 49px;
}

.push-right-49 {
  position: relative;
  right: 49px;
}

.push-left-50 {
  position: relative;
  left: 50px;
}

.push-right-50 {
  position: relative;
  right: 50px;
}

.push-left-51 {
  position: relative;
  left: 51px;
}

.push-right-51 {
  position: relative;
  right: 51px;
}

.push-left-52 {
  position: relative;
  left: 52px;
}

.push-right-52 {
  position: relative;
  right: 52px;
}

.push-left-53 {
  position: relative;
  left: 53px;
}

.push-right-53 {
  position: relative;
  right: 53px;
}

.push-left-54 {
  position: relative;
  left: 54px;
}

.push-right-54 {
  position: relative;
  right: 54px;
}

.push-left-55 {
  position: relative;
  left: 55px;
}

.push-right-55 {
  position: relative;
  right: 55px;
}

.push-left-56 {
  position: relative;
  left: 56px;
}

.push-right-56 {
  position: relative;
  right: 56px;
}

.push-left-57 {
  position: relative;
  left: 57px;
}

.push-right-57 {
  position: relative;
  right: 57px;
}

.push-left-58 {
  position: relative;
  left: 58px;
}

.push-right-58 {
  position: relative;
  right: 58px;
}

.push-left-59 {
  position: relative;
  left: 59px;
}

.push-right-59 {
  position: relative;
  right: 59px;
}

.push-left-60 {
  position: relative;
  left: 60px;
}

.push-right-60 {
  position: relative;
  right: 60px;
}

.push-left-61 {
  position: relative;
  left: 61px;
}

.push-right-61 {
  position: relative;
  right: 61px;
}

.push-left-62 {
  position: relative;
  left: 62px;
}

.push-right-62 {
  position: relative;
  right: 62px;
}

.push-left-63 {
  position: relative;
  left: 63px;
}

.push-right-63 {
  position: relative;
  right: 63px;
}

.push-left-64 {
  position: relative;
  left: 64px;
}

.push-right-64 {
  position: relative;
  right: 64px;
}

.push-left-65 {
  position: relative;
  left: 65px;
}

.push-right-65 {
  position: relative;
  right: 65px;
}

.push-left-66 {
  position: relative;
  left: 66px;
}

.push-right-66 {
  position: relative;
  right: 66px;
}

.push-left-67 {
  position: relative;
  left: 67px;
}

.push-right-67 {
  position: relative;
  right: 67px;
}

.push-left-68 {
  position: relative;
  left: 68px;
}

.push-right-68 {
  position: relative;
  right: 68px;
}

.push-left-69 {
  position: relative;
  left: 69px;
}

.push-right-69 {
  position: relative;
  right: 69px;
}

.push-left-70 {
  position: relative;
  left: 70px;
}

.push-right-70 {
  position: relative;
  right: 70px;
}

.push-left-71 {
  position: relative;
  left: 71px;
}

.push-right-71 {
  position: relative;
  right: 71px;
}

.push-left-72 {
  position: relative;
  left: 72px;
}

.push-right-72 {
  position: relative;
  right: 72px;
}

.push-left-73 {
  position: relative;
  left: 73px;
}

.push-right-73 {
  position: relative;
  right: 73px;
}

.push-left-74 {
  position: relative;
  left: 74px;
}

.push-right-74 {
  position: relative;
  right: 74px;
}

.push-left-75 {
  position: relative;
  left: 75px;
}

.push-right-75 {
  position: relative;
  right: 75px;
}

.push-left-76 {
  position: relative;
  left: 76px;
}

.push-right-76 {
  position: relative;
  right: 76px;
}

.push-left-77 {
  position: relative;
  left: 77px;
}

.push-right-77 {
  position: relative;
  right: 77px;
}

.push-left-78 {
  position: relative;
  left: 78px;
}

.push-right-78 {
  position: relative;
  right: 78px;
}

.push-left-79 {
  position: relative;
  left: 79px;
}

.push-right-79 {
  position: relative;
  right: 79px;
}

.push-left-80 {
  position: relative;
  left: 80px;
}

.push-right-80 {
  position: relative;
  right: 80px;
}

.push-left-81 {
  position: relative;
  left: 81px;
}

.push-right-81 {
  position: relative;
  right: 81px;
}

.push-left-82 {
  position: relative;
  left: 82px;
}

.push-right-82 {
  position: relative;
  right: 82px;
}

.push-left-83 {
  position: relative;
  left: 83px;
}

.push-right-83 {
  position: relative;
  right: 83px;
}

.push-left-84 {
  position: relative;
  left: 84px;
}

.push-right-84 {
  position: relative;
  right: 84px;
}

.push-left-85 {
  position: relative;
  left: 85px;
}

.push-right-85 {
  position: relative;
  right: 85px;
}

.push-left-86 {
  position: relative;
  left: 86px;
}

.push-right-86 {
  position: relative;
  right: 86px;
}

.push-left-87 {
  position: relative;
  left: 87px;
}

.push-right-87 {
  position: relative;
  right: 87px;
}

.push-left-88 {
  position: relative;
  left: 88px;
}

.push-right-88 {
  position: relative;
  right: 88px;
}

.push-left-89 {
  position: relative;
  left: 89px;
}

.push-right-89 {
  position: relative;
  right: 89px;
}

.push-left-90 {
  position: relative;
  left: 90px;
}

.push-right-90 {
  position: relative;
  right: 90px;
}

.push-left-91 {
  position: relative;
  left: 91px;
}

.push-right-91 {
  position: relative;
  right: 91px;
}

.push-left-92 {
  position: relative;
  left: 92px;
}

.push-right-92 {
  position: relative;
  right: 92px;
}

.push-left-93 {
  position: relative;
  left: 93px;
}

.push-right-93 {
  position: relative;
  right: 93px;
}

.push-left-94 {
  position: relative;
  left: 94px;
}

.push-right-94 {
  position: relative;
  right: 94px;
}

.push-left-95 {
  position: relative;
  left: 95px;
}

.push-right-95 {
  position: relative;
  right: 95px;
}

.push-left-96 {
  position: relative;
  left: 96px;
}

.push-right-96 {
  position: relative;
  right: 96px;
}

.push-left-97 {
  position: relative;
  left: 97px;
}

.push-right-97 {
  position: relative;
  right: 97px;
}

.push-left-98 {
  position: relative;
  left: 98px;
}

.push-right-98 {
  position: relative;
  right: 98px;
}

.push-left-99 {
  position: relative;
  left: 99px;
}

.push-right-99 {
  position: relative;
  right: 99px;
}

.push-left-100 {
  position: relative;
  left: 100px;
}

.push-right-100 {
  position: relative;
  right: 100px;
}

/*# sourceMappingURL=style.css.map */
