header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;

        li {
            max-width: 120px;

            &::before {
                content: '';
            }

            &:hover {
                background-color: #fa6666;
            }
        }
    }
}