//形狀
@mixin rect {
    width: 100px;
    height: 100px;
}

// 圓角
@mixin borderR8 {
    border-radius: 8px;
}



//形狀 + 圓角
@mixin rects($w: 100%, $h: $w , $boderRadius: null) {
    width: $w;
    height: $h;

    @if $boderRadius {
        @include borderR8;
    }
}




//layout 判斷式
//===========================
// 使用方式: @include layout(100) 滿版
// layout (80) => 80%寬度
// layout (1200) => 1200px 置中固定寬
//===========================
@mixin layout($w) {
    @if $w ==100 {
        .wrapper {
            width: 100%;
        }
    }

    @else if $w < 100 {
        .wrapper {
            width: $w * 1%;
            margin: auto;
        }
    }

    @else {
        .wrapper {
            width: $w + px;
            margin: auto;
        }

    }
}




@mixin font($fontSize , $fontWeight , $fontFamily) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: $fontFamily;
    @content;
}


//無聊寫法
section {
    @include font(20px, bold, 'Arial') {
        font-display: block;
    }
}

//rwd 寫法
@mixin m(){
  @media screen and (max-width: $breakpoint-m){
    @content;
  }
}

@mixin t(){
  @media screen and (max-width: $breakpoint-t){
    @content;
  }
}

/// 偽元素
@mixin pur($content){
   &::before{
    content: '#{$content}';
   };
   &::after{
     content: '#{$content}';
   };
}


@mixin btn($class, $bgc , $borderR:null){
   .btn-#{$class} {
     padding: 12px 20px;
     width: 140px;
     text-align: center;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
     background-color: $bgc;
     transition: all .1s ease;
     cursor: pointer;
     border-radius: $borderR ;
      &:hover {
        background-color:  darken($bgc , 20);
      }
   } 
}






