/*sass var*/

$fontSize : 16px; //變數數值
$fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; //字串
$fontColor : #333; // color 顏色
$spacingM : 10px 20px 10px; // list
$color: (
    key : value,
    blue : #0059ff,
    red : #ff2a00,
);


$breakpoint : (mobile : 556px,
    tablet : 998px,

); //map