// @import url(); css寫法
//sass import
// base
@import 'base/var';
@import 'base/reset';
@import 'base/font';
@import 'base/color';

// mixin
@import 'mixins/mixin';

// component
@import 'component/btn';
@import 'component/title';
@import 'component/card';
@import 'component/rwd';
@import 'component/table';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';

//page
@import 'page/index';
@import 'page/about';

//套件
@import 'plugin/all';


//運算
//注意單位 
.s {
    width: 10 + 10 + px;
    height: 20em - 1em;
    margin: 10 * 2px;
    font: (100 / 20) + px; // 除法要()
    padding: ceil(100 / 3); // 運算內建函式 ceil round floor

}

//內建函式
//顏色內建函式
.bgc {
    //    background-color: #fff;
    background-color: darken(#fff, 100); //變暗
    color: lighten(#000, 100)
}



// 迴圈
@mixin pushblock($num) {
    @for $i from 1 through $num {
        .pt-#{$i} {
            position: relative;
            top: $i + px
        }
        .pl-#{$i} {
            position: relative;
            left: $i + px
        }

        .pr-#{$i} {
            position: relative;
            right: $i + px
        }
    }
}




@include pushblock(200);



.box {
  @include rects(300px);
  background-color: #f20;


}









//迴圈