// @import url(); css寫法
//sass import
// base
@import 'base/var';
@import 'base/reset';
@import 'base/font';
@import 'base/color';

// mixin
@import 'mixins/mixin';

// component
@import 'component/btn';
@import 'component/title';
@import 'component/card';
@import 'component/rwd';
@import 'component/table';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/nav';

//page
@import 'page/index';
@import 'page/about';

//套件
@import 'plugin/all';


//運算
//注意單位 
.s {
    width: 10 + 10 + px;
    height: 20em - 1em;
    margin: 10 * 2px;
    font: (100 / 20) + px; // 除法要()
    padding: ceil(100 / 3); // 運算內建函式 ceil round floor

}

//內建函式
//顏色內建函式
.bgc {
    //    background-color: #fff;
    background-color: darken(#fff, 100); //變暗
    color: lighten(#000, 100)
}

// 迴圈
@mixin pushblock($num) {
    @for $i from 1 through $num {
        .pt-#{$i} {
            position: relative;
            top: $i + px
        }

        .pl-#{$i} {
            position: relative;
            left: $i + px
        }

        .pr-#{$i} {
            position: relative;
            right: $i + px
        }
    }
}


//第二種
@mixin push($dir , $num) {
    @for $i from 1 through $num {
        .#{$dir}-#{$i} {
            position: relative;
            #{$dir}: $i + px
        }
    }
}

// @include push (left , 10);
// @include push (right , 20);
// @include push (top  , 50);

// @include pushblock(200);


.box {
    @include rects(300px);
    background-color: #f20;
}


// each  迴圈



.banner {
    width: 100%;
    height: 450px;
}

@mixin slider($img , $format: jpg) {
    @each $i in $img {
        .slider-#{$i} {
            background-image: url('images/#{$i}.#{$format}');
        }
    }
}

@include slider(1 2 3 4 5, png);


//each map

$headtag: (
    h1 : 50px,
    h2 : 40px,
    h3 : 30px,
    h4 : 20px,
    body : 16px,
    span : 12px,
    '.desc' : 10px,
);

@each $i , $j in $headtag {
    #{$i} {
        font-size: $j;
    }
}

$bgc :(black : #000,
    primary : #06bcc5,
    auxiliary : #FF8156,
    danger :#EC2D30,
    warning : #FFAD0D);

@mixin bgc($bgc) {
    @each $i , $j in $bgc {
        @for $c from 1 through 7 {
            .#{$i}-#{$c} {
                background-color: lighten($j , $c * 3.1);
                // width: 100%;
                // height: 45px;
            }
        }
    }
}

@include bgc($bgc);




























//迴圈